/* this is a custom css stylesheet*/

body{
	font-family: sans-serif;
	margin-top: 106px;
}
.mainHeading{
	color: #00A651;
	margin-top: 10px;
	font-style: italic;
	font-size: 25px;
}
.mainHeadingTwo{
	color: #00aeef;
	margin-top: 10px;
	font-style: italic;
	font-size: 25px;	
}
.mainbodyHeading{
	color: #515151;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	font-style: italic;
	font-size: 28px;
}
.homeLogo{
	margin-bottom: 15px;
}
.docScroll {
  	margin: 1.5rem auto 0;
  	float: none;
}
h2{
	color: #336666;
	border-bottom: 1px solid #336666;
	margin-bottom: 24px;
	padding-bottom: 7px;
}
h3{
	color: red;
}
.meetPCP ul{
	float: right;
	list-style: none;
}
.meetPCP ul li{
	color: #ffffff;
	background-color: #00aeef;
	font-size: 14px;
	padding: 6px;
	margin-bottom: 6px;
}
.meetPCP h2{
	color: #ffffff;
	background-color: #00aeef;
	float: right;
	font-size: 14px;
	padding: 6px;
}
.meetPCP{
	margin-top: 255px;
}
.pull-right {
	float: right !important;
}
.navbar{
	background-color: #405d59;
	margin-top: 53px;
}
.navbar-inverse {
	border: none;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #292929;
	background-color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:active {
	color: #ffffff;
	background-color: #292929;
}
.navbar-inverse .navbar-nav>li>a:focus {
	color: #ffffff;
	background-color: #292929;
}
.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
	border-radius: 4px;
	margin: 1px;
}
.navbar-inverse .navbar-toggle {
	color: white;
	font-weight: bold;
	border-color: white;
	background-color: #00a651;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	padding: 10px;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #00a651;
	color: #ffffff;
}
.navbar-inverse .navbar-toggle .glyphicon {
	color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #ffffff;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 28px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.headerBackground{
	background-color: #ffffff;
	box-shadow: 0px 3px 10px #888888;
	margin-bottom: 1px;
}
.aboutBackground{
	background: url(../img/about.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 850px;
}
.alleghenyTop{
	  float: right;
	  font-size: 1.1em;
	  margin-right: 20px;
	  color: #fff;
	  margin-top: 15px;
	  font-family: Arial,"Helvetica Neue",sans-serif;
	  font-size: 1.0em;
	  font-weight: bold;
}
.logoBackground{
	background-color: #00a651;
	border-bottom: 8px solid #00aeef;
}
.headercontactInfo{
	float: right;
}
.headercontactInfo a{
	color: #ffffff;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 10px 0px;
	margin-bottom: -1px;
	background-color: #fff;
	border: none;
}
.headerText {
	color: #FFFFFF;
	/* margin-top: 28px; */
	font-size: 16px;
	background-color: #C08313;
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	padding: 4px;
	/*border: 1px solid #243E67;*/
	box-shadow: 0px 6px 20px #888888;
}
.thumbnail{
	display: block;
	padding: 6px;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 1.42857143;
	background-color: #ffffff;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: none;
}
.thumbnail p{
	color: #565656;
	margin-top: 7px;
	margin-bottom: 2px;
}
.thumbnail>img, .thumbnail a>img{
	border-radius: 4px;
}
.btn-info {
	color: #ffffff;
	background-color: #303432;
	border: none;
}
.btn-info:hover {
	color: #ffffff;
	background-color: #336666;
	border-color: #303432;
}
.btn-block {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	background-color: #C08313;
	font-weight: bold;
}
.btn-primary{
	color: #ffffff;
	font-size: 14px;
	background-color: #00aeef;
	border: none;
}
.btn-block:hover {
	color: #ffffff;
	background-color: #303432;
}
.btn-primary:hover {
	color: #ffffff;
	background-color: #303432;
}
.btn-primary:focus{
	color: #ffffff;
	background-color: #C08313;
	border: none;
}
.btn-primary:active {
	color: #ffffff;
	background-color: #C08313;
}
.btn-primary:visited {
	color: #FFFFFF;
  	background-color: #00AEEF;
}
.dropdown-menu>li>a:hover {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	background-color: #303432;
	color: #ffffff;
	white-space: nowrap;
}
.breadcrumb {
	color: #ffffff;
	padding: 4px 8px 4px 8px;
	margin-bottom: 0px;
	margin-top: 5px;
	list-style: none;
	background-color: #303432;
	border-radius: 4px;
	float: left;
	margin-left: 3px;
}
.breadcrumb a{
	color: #ffffff;
}
.breadcrumb>.active {
color: #292929;
}
.panel-default>.panel-heading {
	color: #ffffff;
	background-color: #C08313;
}
.panel-title>a {
	color: #ffffff;
	margin-left: 10px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: left; 
    color: #ffffff; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}
.panel-group {
	margin-bottom: 0px;
}
.btn-default {
	color: #ffffff;
	background-color: #336666;
	/*border: 1px solid #303432;*/
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #ffffff;
	background-color: #303432;
	/*border: 1px solid #303432;*/
}
.thumbnail .caption {
	padding: 0px;
	color: #333;
}
.modal-content {
	padding: 14px 6px 6px 6px;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	height: auto;
}
/*----------------------------------Tabs------------------------------------*/
.nav-tabs {
	border-bottom: 1px solid #C59238;
}
.nav-tabs>li>a:hover {
	/*border-color: #eee #eee #ddd;*/
}
.nav-tabs.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #303432;
	/*border-bottom: 1px solid #303432;*/
}
.nav-tabs.nav>li>a {
	color: #333333;
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #ffffff;
	cursor: default;
	background-color: #ffffff;
}
.bubblePar{
  margin-top: 55px;
}
.homePicRight{
	background: url(../img/sv_main_slide.jpg) no-repeat;
	height: 468px;
}
.homeDocLeft{
	background: url(../img/thomas_slide.jpg) no-repeat;
	height: 468px;
}
.homeDocRight{
	background: url(../img/chris_slide.jpg) no-repeat;
	height: 468px;	
}
.bubbleImg img{
	border-radius: 5px;
}
.bubblePar p{
	color: #222222;
	/*text-align: center;*/
	font-size: 16px;
	margin: 0px;
	margin-bottom: 22px;
}

/*-----------------------------------Media Queries---------------------------------------*/

@media (max-width: 767px) {
	.bubblePar {
	  margin-top: 25px;
	}
	.homeBackground{
		padding: 10px;
		margin-top: 13px;
	}
	.headercontactInfo{
		/*display: none;*/
		float: right;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		background-color: #ffffff;
		color: black;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #ffffff;
		background-color: #303432;
		border-right: 4px solid #ffffff;
		border-left: 4px solid #ffffff;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: #ffffff;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0px;
	}
	.navbar-collapse {
		padding-right: 15px;
		padding-left: 15px;
		overflow-x: visible;
		-webkit-overflow-scrolling: touch;
		border-top: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-collapse ul{
		margin-left: 10px;
		margin-right: 10px;
	}
	.panel-title>a {
		color: #ffffff;
		margin-left: 10px;
		text-decoration: none;
		padding-right: 10px;
		font-size: 12px;
	}
	.mainHeading{
		font-size: 20px;
	}
	.btn-block{
		font-size: 14px;
	}
	.btn-primary{
		font-size: 11px;
	}
	.logoSection img{
		width: 50px;
		height: 50px;
	}
	.navbar{
		margin-top: 53px;
	}

}
@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
	.navbar-nav>li>a {
			padding-top: 10px; 
			padding-bottom: 10px; 
	}
}

